
@font-face {
    font-family: main;
    src: url(./fonts/main.ttf);
}

@font-face {
    font-family: sub;
    src: url(./fonts/sub.ttf);
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
   display: none;
}

body{
  scroll-behavior: smooth;
    background-color: rgb(0, 0, 0);
    color: white;
}

.maintxt{
  z-index: -800;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
}

.maintext{
  z-index: -800;
  font-family: main;
  font-weight: 900;
  font-size: 10vw;
  background-image: linear-gradient(to left top,rgb(0, 0, 0),rgb(255, 255, 255)50% );
  background-clip: text;
  color: rgba(0, 0, 0, 0);
}

.maintxtsub {
 z-index: -800;
}

/* responsiveness */
@media(max-width: 1000px) {
  .maintext{
    font-size: 9vw;
  }
}

@media(max-width: 700px) {
  .maintext{
    font-size: 12vw;
  }
}


@media(max-width: 500px) {
  .maintext{
    font-size: 15vw;
  }
}



  
  

  